body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

main{
    width: 90%;
    height: 80%;
}
form{
    width: 100%;
    background-color: rgb(228, 226, 226);
    padding: 20px;
    height: 80%;
}
h2{
    background-color: whitesmoke;
    padding: 15px;
    border: 1px solid rgb(179, 178, 178);
}

form div{
    margin-top: 0px;

}
input{
    width: 25%;
    height: 20px;
}
input:hover{
    border: 1px solid rgb(179, 178, 178);
}
button{
    margin-top: 30%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-top: 0px;
    margin-left: 195px;
    translate: 0px -40px;
    background-color: rgb(185, 185, 185);
}
button:hover{
    background-color:  rgb(131, 130, 130);
    cursor: pointer;
}
section{
    float: right;
    border: none;
    margin-top: -1%;

}
input{
    margin-left: 195px;
    translate: 0px -37px;
}
.container{
    float: right;
    translate: 195px -162px;
}
small{
    float: right;
    margin-right: -26%;
    margin-top: -14%;
}
img{
    float: right;
    translate: 500px -440px;
}