body {
    background-color: white;
    display: flex;
    height: 600px;
    flex-direction: column;
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: grey;
    height: 60px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*TODO estilos especificos del 'nav' */

nav a{
    margin: 0 130px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 8px;
    transition: all 0.3s;
}

/*TODO estilos especificos del 'main div' */

main {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

main .card {
    border: 1px solid black;
    width: 70%;
    height: 43%;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main div .offerHeader {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div .offerBody {
    padding: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

button {
    background-color: white;
    border: none;
    width: 190px;
    height: 30px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(188, 188, 188);
    cursor: pointer;
}

button:active {
    background-color: rgb(156, 156, 156);
}
