body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

header {
    height: 10%;
    background: radial-gradient(circle, rgb(51, 40, 0) 0%, rgb(136, 111, 0) 35%, rgb(218, 164, 0) 100%);
    width: 100%;
}

main {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.bloque {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card {
    border: 1px solid grey;
    width: 25%;
    background-color: rgb(229, 229, 229);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

.card:hover {
    border: 2px solid rgb(218, 164, 0);
}

footer {
    width: 100%;
    height: auto;
}

img {
    height: 240px;
    width: 200px;
}

h2 {
    text-align: center;
    color: white;
}

h3 {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    width: 100%;
}