html, body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

h1{
    color: black;
    margin-right: auto;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second-navigation{
    display: flex;
}

#second-navigation a{
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
    width: 75%;
}

main div{
    display: flex;
    border: 2px solid rgb(205, 205, 205)
}

div section{
    display: flex;
    flex-direction: column;
}

