html, body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    box-sizing:border-box;

}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    justify-content: space-evenly;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 5px 0px;
}

#agregarOferta{
    height: 50px;
    width: 150px;
    border-radius: 5px;
}

div input[name="barra-busqueda"]{
    text-align: right;
    margin: 5px;
}

section {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(228, 228, 228);
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(127, 127, 127);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(151, 151, 151);
}

section h3, section p, section a{
    flex-basis: 100%;
    border-radius: 10px;
}

section textarea:hover{
    border: 4px solid black;
}

section p{
    height: 100px;
    background-color: white;
    padding: 4px;
    overflow:hidden;
}

section a {
    text-align: right;
    font-size: large;
    color: black;
    width: 100%;
    opacity: 50%;
}

section a:hover{
    font-weight: bold;
    opacity: 100%;
    color: #00661b;
}