body {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;

}
form {
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 200px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.container{
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 4px;
}
.container div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(101, 100, 100);
    margin: 5px 0px;

}

i{
    color: white;
    translate: 5px 13px;
}
input{
    height: 21px;
    margin: 10px;
    border-radius: 5px;
    border: 1px ;
    background-color: white;
    color: gray
    
}
button{
    border-radius: 1px;
    padding: 9px;
    border: none;
    background-color: white;
    display: flex;
    margin: 7px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(238, 238, 238)
}
button:active{
    background-color: grey;
    color: white;
}

h2{
    color: black
}

a{
    color:blue;
    text-decoration: none;
}