html,body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgb(186, 186, 186);
    margin: 0px;
    height: 70%;
    width: 70%;
}
section{
    display: flex;
    flex-direction: column;
}
section img{
    width: 100px;
    height: 100px;
}
section p {
    background-color: white;
    width: 70%;
}
button{
    width: 190px;
}