.tabla-datos, .tabla-datos th, .tabla-datos td {
    border: 2px double black;
}

.tabla-datos{
    margin-top: 100px;
    width: 90%;
    font-size: x-large;
}

.tabla-datos th {
    background-color: #7b7db0
}

#seleccion-reporte{
    width: 200px;
    height:40px;
    background-color: rgb(230, 230, 230);
    font-weight: bolder;
}

#seleccion-reporte option{
    text-align: center;
    background-color: #a9a8ce;
    font-size: small;
    margin:2px;
    font-weight: bold;
}

#generar-reporte{
    height: 50px;
    width: 150px;
    border-radius: 15px;
    font-size: medium;
    margin: 2px;
    background-color: rgb(209, 209, 209);
    border-style: none;
}
