.tabla-datos, .tabla-datos th, .tabla-datos td {
    border: 2px double black;
}

.tabla-datos{
    margin-top: 100px;
    width: 80%;
    font-size: x-large;
}

.tabla-datos th {
    background-color: #92c7a3
}