/*TODO estilos generales de la pagina*/

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

body {
    background-image: url('../../imagenes/working.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    height: 80%;
}

main section {
    width: 60%;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main aside {
    width: 10%;
}

/*TODO estilos especificos del main section */
main section .card {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 15px;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
}

main section .card:hover {
    padding: 45px;
    border: 1px solid rgb(0, 88, 189);
    transition: all 0.3s;
}

main section .card .status {
    background-color: red;
    float: right;
    padding: 7px;
    border-radius: 10px;
    color: white;
}

/*TODO estilos especificos del main aside */
main aside .filter {
    padding: 10px;
    width: 180px;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
    border-radius: 10px;
}

main aside .filter:hover{
    border: 1px solid rgb(0, 88, 189);
}

.verPostulacionEnviada {
    background-color: rgb(0, 174, 116);
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: bold;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.verPostulacionEnRevision{
    background-color: rgb(174, 133, 0);
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: bold;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.verPostulacionAceptada{
    background-color: rgb(0, 61, 174);
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: bold;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.verPostulacionDenegada{
    background-color: rgb(216, 60, 60);
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: bold;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.verPostulacion:hover {
    background-color: rgb(0, 137, 92);
}

.verPostulacion:active {
    background-color: rgb(0, 94, 63);
}

form{
    margin: 15px;
    height: 50px;
}