html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h2{
    color: black;
    margin-right: auto;
    flex-basis: 100%;
    padding: 15px 0px 0px 15px;
    height: 45px;
    border: 2px solid rgb(184, 184, 184);
    background-color: white ;
}

body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70%;
    width: 80%;
    padding: 30px;
    background-color: rgb(223, 223, 223);
    border: 2px solid rgb(184, 184, 184);
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

form div{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    height: 50%;    
    
}

.base-btn{
    display: flex;
    flex-basis: 25%;
    height: 50%;    
    flex-direction: column;
}

form label{
    height: 10px;
    width: 10px,
}

form button[name = "ver-archivos"]{
    height: 40px;
    width: 100px;
}

div input{
    width: 50%;
}

div select{
    width: 50%;
}

.image-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    flex-basis: 30%;
    
}

.image-placeholder img{
    height: 200px;
    width:200px;
    background-color: white;
}

button[name="completar-registro"]{
    font-size: large;
    font-weight: bold;
    background-color: gray;
    color: black;
    border-style: none;
    translate: 50px 100px;
    border-radius: 5px;
    width: 210px;
    height: 50px;
}

button[name="subir-archivo"]{
    width: 200px;
}











